.dropdown .dd {
    display: none;
}
.de_container {
	margin-top: 20px;
}
.crumb_wrap {
	height: 25px;
}
.crumb_wrap a {
	margin-right: 10px;
}
.preview_wrap {
	width: 400px;
	height: 590px;
}
.preview_img {
	height: 398px;
	border: 1px solid #ccc;
}
.preview_list {
	height: 60px;

	marginz-index: 10;-top: 60px;
}
.list_item {
	width: 320px;
	height: 60px;
	margin: 0 auto;
}
.preview_img img {
	width: 398px;
	z-index: 10;
	max-width: 100%;
	max-height: 100%;
}
.list_item li {
	float: left;
	width: 56px;
	height: 56px;
	border: 2px solid transparent;
	margin: 0 2px;
}
.product_intro  li > img {
	max-width: 100%;
	max-height: 100%;
}
.list_item li.current {
	border-color: #c81623;
}
.arrow_prev,
.arrow_next {
	position: absolute;
	top: 15px;
	width: 22px;
	height: 32px;
	background-color: purple;
}
.arrow_prev {
	left: 0;
	background: url(../images/arrow-prev.png) no-repeat;
}
.arrow_next {
	right: 0;
	background: url(../images/arrow-next.png) no-repeat;
}
.itemInfo_wrap {
	width: 718px;
}
.sku_name {
	height: 30px;
	font-size: 20px;
	font-weight: 700;
}
.news {
	height: 32px;
	color: #e12228;
}
.summary dl {
	overflow: hidden;
}
.summary dt,
.summary dd {
	float: left;
}
.summary dt {
	width: 60px;
	padding-left: 10px;
	padding-right: 2px;
	line-height: 36px;
}
.summary_price ,
.summary_promotion {
	position: relative;
	padding: 10px 0;
	background-color: #fee9eb;
}
.price {
	font-size: 24px;
	color: #e12228;
}
.summary_price a {
	color: #c81623;
}
.remark {
	position: absolute;
	right: 10px;
	top: 20px;
}
.summary_promotion {
	padding-top: 0;
}
.summary_promotion dd {
	width: 450px;
	line-height: 36px;
}
.summary_promotion em {
	display: inline-block;
	width: 40px;
	height: 22px;
	background-color: #c81623;
	text-align: center;
	line-height: 22px;
	color: #fff;
}
.summary_support dd {
	line-height: 36px;
}
.choose_color a {
	display: inline-block;
	width: 64px;
	height: 32px;
	background-color: #f7f7f7;
	border: 1px solid #ededed;
	text-align: center;
	line-height: 30px;
}
.summary a.current {
	border-color: #c81623;
}
.choose_version  {
	margin: 10px 0;
}
.choose_version a,
.choose_type a {
	display: inline-block;
	height: 32px;
	padding: 0 12px;
	background-color: #f7f7f7;
	border: 1px solid #ededed;
	text-align: center;
	line-height: 32px;
}
.choose_btns {
	margin-top: 20px;
}
.choose_amount {
	position: relative;
	float: left;
	width: 50px;
	height: 46px;
	background-color: pink;
}
.choose_amount input {
	width: 36px;
	height: 46px;
	border: 1px solid #ccc;
	text-align: center;
}
.add,
.reduce {
	position: absolute;
	right: 0;
	width: 15px;
	height: 25px;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	text-align: center;
	line-height: 22px;
}
.add {
	top: 0;
	
}
.reduce {
	bottom: 0;
	/*禁止鼠标样式*/
	cursor: not-allowed;   /* pointer  小手  move  移动  */
}
.addcar {
	float: left;
	width: 142px;
	height: 46px;
	background-color: #c81623;
	text-align: center;
	line-height: 46px;
	font-size: 18px;
	color: #fff;
	margin-left: 10px;
	font-weight: 700;
}
.product_detail {
	margin-bottom: 50px;
}
.aside {
	width: 208px;
	border: 1px solid #ccc;
}
.tab_list {
	overflow: hidden;
	height: 45px;
}
/*把背景颜色 底边框都给 li*/
.tab_list li {
	float: left;
	background-color: #f1f1f1;
	border-bottom: 2px solid #ccc;
	height: 45px;
	text-align: center;
	line-height: 45px;
	letter-spacing: 7px;
}
.tab_list .current {
	background-color: #fff;
	color: red;
}
.second_tab {
	width: 206px;
	font-weight: 600;
	font-size: 20px;
}
.tab_con {
	padding: 0 32px;
}
.tab_con li {
	border-bottom: 1px solid #ccc;
}
.tab_con li h5 {
	/*超出的文字省略号显示*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 400;
}
.aside_price {
	font-weight: 700;
	margin: 10px 0;
}
.as_addcar {
	display: block;
	width: 88px;
	height: 26px;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
	margin: 10px auto;
	text-align: center;
	line-height: 26px;
}
.detail {
	width: 978px;
}
.detail_tab_list {
	height: 39px;
	border: 1px solid #ccc;
	font-size: 15px;
	background-color: #f1f1f1;
}
.detail_tab_list li {
	float: left;
	height: 39px;
	width: 150px;
	line-height: 39px;
	padding: 0 10px;
	text-align: center;
	cursor: pointer;
}
.detail_tab_list .current {
	background-color: #c81623;
	color: #fff;
}
.item_info {
	padding: 20px 0 0 20px;
}
.item_info li {
	height: 30px;
	line-height: 30px;
	font-weight: 500;
	font-size: 20px;
}
.item_info .comment_li {
	height: 205px;
	line-height: 30px;
	font-weight: 500;
	font-size: 20px;
	margin: 10px;
	border-bottom: 1px solid #8c8c8c;
}
.item .item_info li p {
	display: inline-block;
}
.item .item_info li .comment_box{
	height: 200px;
	margin-bottom: 20px;
}
.item .item_info li .comment_box .comment_left_box{
	float: left;
	position: relative;
	height: 200px;
	width: 200px;
}
.item .item_info li .comment_box .comment_left_box .comment_left_img_box{
	position: absolute;
	top: 17px;
	left: 17px;
	border-radius: 16px;
	border: 1px solid #8c8c8c;
}
.item .item_info li .comment_box .comment_left_box .comment_left_img_box img{
	width: 30px;
	height: 30px;
	max-width: 30px;
	max-height: 30px;
	border-radius: 15px;
}
.item .item_info li .comment_box .comment_left_box .comment_left_name_box {
	position: absolute;
	width: 135px;
	height: 30px;
	top: 19px;
	left: 53px;
	font-size: 14px;
	font-weight: 500;
	overflow: hidden;
}
.item .item_info li .comment_box .comment_right_box{
	float: right;
	height: 200px;
	width: 730px;
}
.item .item_info li .comment_box .comment_right_box .comment_right_content_box {
	width: 758px;
	height: 150px;
	padding: 25px 10px 10px 20px;
}
.item .item_info li .comment_box .comment_right_box .comment_right_time_box {
	width: 758px;
	height: 50px;
	font-size: 15px;
	font-weight: 400;
	padding: 10px 10px;
}
.more {
	float: right;
	font-weight: 700;
	font-family: 'icomoon';
}
.paging_box {
	margin-top: 30px;
	height: 50px;
	padding: 1px 5px;
}
.paging_box .paging_ul_box{
	height: 38px;
	margin: 5px 0px;
	background-color: #bdbdbd;
}
.paging_box .paging_ul_box ul li {
	float: left;
	margin: 6px 10px;
	height: 27px;
	line-height: 23px;
	padding: 2px 8px;
	font-size: 14px;
	font-weight: 500;
	color: #5f5f5f;
	background-color: #fff;
	border: 1px solid #5f5f5f;
	border-radius: 2px;
}
.paging_box .paging_ul_box ul li:hover {
	background-color: red;
	color: #fff;
}
.paging_box .paging_ul_box ul .paging_text{
	border: 0px;
	background-color: #bdbdbd;
}
.paging_box .paging_ul_box ul li .paging_num{
	display: inline-block;
	margin: 0px 0px;
	width: 10px;
}
.paging_box .paging_ul_box ul .paging_text:hover {
	border: 0px;
	color: #5f5f5f;
	background-color: #bdbdbd;
}
.paging_box .paging_ul_box ul li input {
	width: 30px;
	text-align: center;
	border: 1px solid #5f5f5f;
}