<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hs.com.mapper.TbShopbookMapper" >
  <resultMap id="BaseResultMap" type="hs.com.entity.TbShopbook" >
    <id column="ShopbookId" property="shopbookid" jdbcType="CHAR" />
    <result column="CustomerId" property="customerid" jdbcType="CHAR" />
    <result column="BookId" property="bookid" jdbcType="INTEGER" />
    <result column="ordermount" property="ordermount" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="FLOAT" />
    <result column="ispay" property="ispay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ShopbookId, CustomerId, BookId, ordermount, price, ispay
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_shopbook
    where ShopbookId = #{shopbookid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_shopbook
    where ShopbookId = #{shopbookid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="hs.com.entity.TbShopbook" >
    insert into tb_shopbook (ShopbookId, CustomerId, BookId, 
      ordermount, price, ispay
      )
    values (#{shopbookid,jdbcType=CHAR}, #{customerid,jdbcType=CHAR}, #{bookid,jdbcType=INTEGER}, 
      #{ordermount,jdbcType=INTEGER}, #{price,jdbcType=INTEGER}, #{ispay,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hs.com.entity.TbShopbook" >
    insert into tb_shopbook
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopbookid != null" >
        ShopbookId,
      </if>
      <if test="customerid != null" >
        CustomerId,
      </if>
      <if test="bookid != null" >
        BookId,
      </if>
      <if test="ordermount != null" >
        ordermount,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="ispay != null" >
        ispay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopbookid != null" >
        #{shopbookid,jdbcType=CHAR},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=CHAR},
      </if>
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="ordermount != null" >
        #{ordermount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="ispay != null" >
        #{ispay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hs.com.entity.TbShopbook" >
    update tb_shopbook
    <set >
      <if test="customerid != null" >
        CustomerId = #{customerid,jdbcType=CHAR},
      </if>
      <if test="bookid != null" >
        BookId = #{bookid,jdbcType=INTEGER},
      </if>
      <if test="ordermount != null" >
        ordermount = #{ordermount,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="ispay != null" >
        ispay = #{ispay,jdbcType=VARCHAR},
      </if>
    </set>
    where ShopbookId = #{shopbookid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="hs.com.entity.TbShopbook" >
    update tb_shopbook
    set CustomerId = #{customerid,jdbcType=CHAR},
      BookId = #{bookid,jdbcType=INTEGER},
      ordermount = #{ordermount,jdbcType=INTEGER},
      price = #{price,jdbcType=FLOAT},
      ispay = #{ispay,jdbcType=VARCHAR}
    where ShopbookId = #{shopbookid,jdbcType=CHAR}
  </update>

  <select id="selectid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_shopbook
    where CustomerId = #{customerid}
  </select>

  <update id="updataforid" parameterType="hs.com.entity.TbShopbook" >
    update tb_shopbook
    set
      ordermount = #{ordermount},
      price = #{price}
    where ShopbookId = #{shopbookid}
  </update>

  <select id="selectAlldesc" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_shopbook
    order by
    ShopbookId
    desc
  </select>

  <insert id="addbookshop" parameterType="hs.com.entity.TbShopbook" >
    insert into tb_shopbook (ShopbookId, CustomerId, BookId,
      ordermount, price, ispay
      )
    values (#{shopbookid}, #{customerid}, #{bookid},
      #{ordermount}, #{price}, #{ispay}
      )
  </insert>

  <select id="selectidt" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tb_shopbook
    where
    CustomerId = #{customerid}
    and
    BookId=#{bookid}
  </select>
  <delete id="deleteshopbook" parameterType="java.lang.String" >
    delete from tb_shopbook
    where ShopbookId = #{shopbookid}
  </delete>
</mapper>